@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/app/ui/styles/variables.css';
@import '@/app/ui/styles/components.css';


:root {
  /* Light mode defaults */
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .container-padding {
    @apply px-4 max-w-6xl mx-auto;
  }
  
  .section-padding {
    @apply py-16;
  }
}


/* Base styles 
body {
  color: var(--foreground);
  background: var(--background);
}
*/

/* Dark mode overrides - not used yet
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */